<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Tickets</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/flights">All Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flights/new">Add Flights</a>
        </li>
      </ul>
    </nav>
    <div class="center-form">
      <h2>Add Tickets</h2>
      <form action="/tickets/<%=flight.id%>/tickets/new" method="POST">
        <label>Seat:</label>
        <input
          type="text"
          name="seat"
          required
          pattern="[A-F][1-9]\d?"
          placeholder="[A-F][1-9]"
        /><br />

        <label>Price:</label>
        <input type="text" name="price" placeholder="$CAD" /><br />

        <input
          type="submit"
          class="btn btn-info center-button"
          value="Add Ticket"
        />
      </form>
    </div>
  </body>
</html>